extends layout

block content



    .row.banner
        .col-12
            h1 Review Game
    .row
        .col-sm-6
            form(action="", method="post", role="form") 
               
                .form-group.row
                    label.col-10.col-sm-2.col-form-label(for="rating") Rating
                    .col-12.col-sm-2
                        select#rating.form-control.input-sm(name="rating") 
                            option 5 
                            option 4 
                            option 3 
                            option 2 
                            option 1 
                .form-group.row
                    label.col-sm-2.col-form-label(for="review") Review
                    .col-sm-10
                        textarea#review.form-control(name="review", rows="5") 
                button.btn.btn-primary Add my review 
        .col-sm-2        
        .col-sm-4
          .card(style='width:200px')
           .card.block
           img.card-img-top(src='/images/reddead.jpg' alt='Card image')
          .card-body
          h4.card-title Read Dead Redemption
            
      

