extends layout

block content

            
      
  
  .row
  
  
    
   each review in Reviews
    .col-sm-4
      .card
        .card-block
        
          h4
            a(href="/api/games")= review.gameName
            p
            small &nbsp;
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star-o
              i.fa.fa-star-o
              p= review.review
               .col-12
                img.card-img-top(src='/images/reddead.jpg' alt='Card image')
       
       
                // put the paraggahs in a box??
          a.btn.btn-primary.float-right(href='/games/review/read') Read review  
          p     
          a.btn.btn-primary.float-right(href='/games/review/addReview') Add review
        h4
            