extends layout

block content
  h1=pageHeader.title
  h2=pageHeader.strapline
   .banner.div
  .container 
  row.banner
      .col-12
      h1 About Us
        
  
  .row.align-self-center.w-8
    .col-md-12
      .card
        .card-block
            p.p 
             | <br /><br />
             | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed lorem ac nisi dignissim accumsan. Nullam sit amet interdum magna. Morbi quis faucibus nisi. Vestibulum mollis purus quis eros adipiscing tristique. Proin posuere semper tellus, id placerat augue dapibus ornare. Aenean leo metus, tempus in nisl eget, accumsan interdum dui. Pellentesque sollicitudin volutpat ullamcorper.
             | <br /><br />
             | Suspendisse tincidunt, lectus non suscipit pharetra, purus ipsum vehicula sapien, a volutpat mauris ligula vel dui. Proin varius interdum elit, eu porttitor quam consequat et. Quisque vitae felis sed ante fringilla fermentum in vitae sem. Quisque fermentum metus at neque sagittis imperdiet. Phasellus non laoreet massa, eu laoreet nibh. Pellentesque vel magna vulputate, porta augue vel, dapibus nisl. Phasellus aliquet nibh nec nunc posuere fringilla. Quisque sit amet dignissim erat. Nulla facilisi. Donec in sollicitudin ante. Cras rhoncus accumsan rutrum. Sed aliquet ligula dui, eget laoreet turpis tempor vitae.

            
    block content
    .container
    .col-12
      h1 Recently Reviewed
       p.name= games.gamesName
      .row
           //each games in games

      app-game-list Loading
      .card
        .col-sm-4
         .card-block
          h4
            //- a(href="/games")= review.gameName
            p
            small &nbsp;
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star-o
              i.fa.fa-star-o
              //- p= review.review
                // put the paraggahs in a box??
          a.btn.btn-primary.float-right(href='/games/review/read') Read review      
          a.btn.btn-primary.float-right(href='/games/addReview') Add review

  block scripts
  script(src='/build/runtime-es5.edb2fcf2778e7bf1d426.js')
  script(src='/build/polyfills-es5.ef4b1e1fc703b3ff76e3.js')
  script(src='/build/main-es5.21fcf646d1d075183063.js')
  script(src='/build/runtime-es2015.edb2fcf2778e7bf1d426.js')
  script(src='/build/polyfills-es2015.2987770fde9daa1d8a2e.js')
  script(src='/build/main-es2015.21fcf646d1d075183063.js')
