extends layout

block content
 h1=pageHeader.title
  
   .banner.div
 .col-sm-3
 
 .card
   .card.block
   .col-sm-6
    form
      .form-group
        label Enter email
        input.form-control(name='' placeholder='Email' type='email')
      //- form-group//
      .form-group
       
        label Enter password
        input.form-control(placeholder='******' type='password')
      //- form-group//
      .form-group
        .checkbox
          label
            input(type='checkbox')
            |  Save password
        //- checkbox .//
      //- form-group//
      .form-group
        button.btn.btn-primary.btn-block(type='submit')  Login  
      //- form-group//
    
